<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    Get Shiori
  </h3>

  <!-- <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p> -->

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13325575_10154083591875516_2901031136471129172_n.jpg?oh=fe965f32dc8219ac501b384e0790c8ef&oe=581D32E7" alt="Jessica Thompson" class="pull-left" width="100">
      <div class="media-body">
        <h4 class="media-heading">Jessica Thompson</h4>
      </div>
    </div>
  </p>

  <p><a href="https://twitter.com/tsonj" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @tsonj</a></p>

</div>

<h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>
