---
layout: default
comments: true
---

<div class="post-header">
  <h1 class="post-title-main">{{ page.title }}</h1>
  {% include post-header.html %}
</div>
<div class="post-content">
  {{ content }}
</div>
{% if page.comments %}
  <div id="disqus_thread"></div>
    <script>
        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        
        var disqus_config = function () {
            // this.page.url = ;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = page.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
            var d = document, s = d.createElement('script');
            
            s.src = '//thompsonj.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
            
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <div class="post-navs row">
      {% if page.previous %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            Older
            <span class="text-muted"> &middot; </span>
            <a href="{{ "/archive" | prepend:site.baseurl }}">View Archive ({{ site.posts.size }})</a>
          </h3>
          <h2 class="post-title-link"><a href="{{ page.previous.url | prepend:site.baseurl }}">{{ page.previous.title }}</a></h2>
          {{ page.previous.excerpt | markdownify }}
        </div>
      {% endif %}
      {% if page.next %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            Newer
            {% unless page.previous %}
              <span class="text-muted"> &middot; </span>
              <a href="{{ "/archive" | prepend:site.baseurl }}">View Archive ({{ site.posts.size }})</a>
            {% endunless %}
          </h3>
          <h2 class="post-title-link"><a href="{{ page.next.url | prepend:site.baseurl }}">{{ page.next.title }}</a></h2>
          {{ page.next.excerpt | markdownify }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
<script id="dsq-count-scr" src="//thompsonj.disqus.com/count.js" async></script>
